﻿@model E2LabPower.Domain.ProductDataModel
@{
    ViewData["Title"]="Edit";
    Layout="~/Views/Shared/_Layout.cshtml";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}

<h2>Edit @Model.Name</h2>

<div class="text-danger" asp-validation-summary="ModelOnly"></div>
@using(Html.BeginForm("Edit", "Product"))
{
    <div class="form-group" >
        @Html.LabelFor(m=>m.Name)
        @Html.TextBoxFor(m=>m.Name,new { @class = "form-control"})
        @Html.ValidationMessageFor(m=>m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Discretion)
        @Html.TextAreaFor(m => m.Discretion, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Discretion)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UnitId)
        @Html.DropDownListFor(m => m.UnitId, new SelectList(Model.Units, "UnitId", "Name"), "Select a Unit", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UnitId)
    </div>

    <button type="submit" class="btn btn-primary">
       Edit
    </button>

}

<br />



<div class="alert alert-danger" role="alert">
    <div class="row">
        <div class="col-lg-8">
            <p>Create Your Own Unit of Measurement</p>
            <p style="color:darkred;font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">[In Case You Can Not Find it]</p>
        </div>
        <div class="col-lg-2">


            @Html.ActionLink("Create New Unit", "Create", "Units", null, new { @class = "btn btn-primary" })

        </div>
    </div>


</div>
<br />
<div class="row">
    @Html.ActionLink("Back to List", "Index", "Product", null, new { @class = "btn btn-primary" })
</div>

