﻿@model IEnumerable<E2LabPower.Domain.ProductDataModel>

@{
    ViewData["Title"]="Index";
    Layout="~/Views/Shared/_Layout.cshtml";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}

<h2>Products</h2>

<p>
   
    @Html.ActionLink("Add New Product", "Create", "Product", null, new { @class = "btn btn-s btn-info pull-right" })
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeasuremntUnit)
            </th>
            <th>
                @Html.DisplayName("Description")
            </th>
            <th>
                Settings
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MeasuremntUnit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discretion)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Product", new { id = item.Id }, new { @class = "btn btn-xs btn-warning " }) 

                    @Html.ActionLink("Delete", "Delete", "Product", new { id = item.Id, @class = "btn btn-danger" }, new { @class = "btn btn-xs btn-danger " }  )


                </td>
            </tr>
        }
    </tbody>
</table>


