﻿
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
 @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


}

<h2>Error On Delete </h2>

<div class="text-danger" asp-validation-summary="ModelOnly"></div>

<a class="btn btn-danger" asp-area="Admin"  asp-controller ="Units" asp-action="Index" > Back To List </a>

