﻿@model IEnumerable<E2LabPower.Models.UnitOfMeasurements>

@{
    ViewData["Title"]="Index";
    Layout="~/Views/Shared/_Layout.cshtml";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}


<br />
<p>
    <a asp-action="Create">Create New Unit</a>
</p>
<div class="text-danger" asp-validation-summary="ModelOnly"></div>
<table class="table">
    
    <thead>
        <tr>
         <th>
                    @Html.DisplayNameFor(model => model.Name)
          </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
 
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                
              
                @Html.ActionLink("Delete", "Delete", new { Id = item.UnitId })
            </td>
        </tr>
}
    </tbody>
</table>
