﻿@model E2LabPower.Areas.Admin.Models.MeasermentsWithTypes
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create New Measerment</h2>

@using (Html.BeginForm("Create", "Measerment"))

{

    <div class="form-group">
        @Html.LabelFor(m => m.Measurement.MeasurmentName)
        @Html.DropDownListFor(m => m.Measurement.MeasurmentName, new SelectList(Model.MeasuermentTypes, "Name", "Name"), "Select a Measerment Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m=>m.Measurement.MeasurmentName)
    </div>



    <button type="submit" class="btn btn-primary">
        Save
    </button>
  
 

}
