﻿@model E2LabPower.Domain.Model.MeasurmentsForNodeModel
@{
    ViewData["Title"] = "MeasurementDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MeasurementDetails</h2>

<div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">



        @Html.ActionLink("Add New Measurement", "Create", "Measerment", new { id = Model.NodeID }, null)


    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                <h4 class="text-justify"> Measurement Applied To This Line</h4>
            </th>


            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Measurements)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MeasurmentName)
                </td>


                <td>

                   
                    @Html.ActionLink("Delete", "DeleteMeasurement", "Measerment", new { NodeID = item.ContainerID , MID = item.MeasurmentID }, null) 
               


                </td>
            </tr>
        }
    </tbody>
</table>
<div >

    <div class="col">
        @Html.ActionLink("Back to List", "Details", "Sources", new { id = Model.SourceID }, new { @class = "btn btn-success" })

    </div>
    
</div>

