﻿@model E2LabPower.Domain.AdminSourceDataModel.SourceDataModel
@{
    ViewData["Title"] = "Create New Circuit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

}

<h2>Create New Circuit</h2>

@using (Html.BeginForm("Create", "Sources"))

{
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>

    <div class="form-group">
        @Html.LabelFor(m => m.SourceName)
        @Html.TextBoxFor(m => m.SourceName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m=>m.SourceName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SourceCode)
        @Html.TextBoxFor(m => m.SourceCode, new { @class = "form-control" })
        @Html.ValidationMessageFor(m=>m.SourceCode)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DIrectionID)
        @Html.DropDownListFor(m => m.DIrectionID, new SelectList(Model.Directions, "DirectionID", "DirectionName"), "Select a Direction", new { @class = "form-control" })
        @Html.ValidationMessageFor(m=>m.DIrectionID)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LocationID)
        @Html.DropDownListFor(m => m.LocationID, new SelectList(Model.Locations, "LocationID", "LocationName"), "Select a Location", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LocationID)
    </div>

    <button type="submit" class="btn btn-primary">
        Save
    </button>

}
<br />
@Html.ActionLink("Create New Location", "CreateLocation", "Location",null, new { @class = "btn btn-md btn-primary pull-left" })