﻿@model E2LabPower.Models.Source

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Source</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SourceCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SourceCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SourceDirectionID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SourceDirectionID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List","Index","Sources")
    </form>
</div>
