﻿@model E2LabPower.Domain.AdminSourceDataModel.SourceDataModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h2>Circuit @Model.SourceID Details </h2>
    <hr />
    <dl class="dl-horizontal">
  
        <dt>
            @Html.DisplayNameFor(model => model.SourceName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SourceName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SourceCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SourceCode)
        </dd>

    </dl>
</div>
<div>
    @Html.ActionLink("Create New Line", "Create", "Nodes",new { SourceID = Model.SourceID }, new { @class = "btn btn-xs btn-primary " }) 
    @Html.ActionLink("Back to List","Index","Sources",null, new { @class = "btn btn-xs btn-primary " })
</div>


    <h4 class="text-justify"> Lines Connected To This Circuit</h4>


<table class="table">
    <thead>
        <tr>



            <th>
                Line Name
            </th>
            <th>
                Line Code
            </th>
            <th>
               Settings
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Lines)
        {
            <tr>
             
                <td>
                    @Html.DisplayFor(modelItem => item.LineName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LineCode)
                </td>

                <td>

                    @Html.ActionLink("Edit", "Edit", "Nodes", new { id = item.LineID }, new { @class = "btn btn-xs btn-warning " }) 
                    @Html.ActionLink("Details", "MeasurementDetails", "Measerment", new { Id = item.LineID }, new { @class = "btn btn-xs btn-primary " }) 
                    @Html.ActionLink("Delete", "Delete", "Nodes", new { id = item.LineID }, new { @class = "btn btn-xs btn-danger " })


                </td>
            </tr>
        }
    </tbody>
</table>


