﻿@model E2LabPower.Domain.AdminSourceDataModel.SourceDataModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}

<h2>Edit Circuits</h2>

<h4>Circut Name : @Model.SourceName</h4>
<hr />


<div class="text-danger" asp-validation-summary="ModelOnly"></div>
@using (Html.BeginForm("Edit", "Sources"))

{@Html.HiddenFor(m => m.SourceID)
    <div class="form-group">
        @Html.LabelFor(m => m.SourceName)
        @Html.TextBoxFor(m => m.SourceName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.SourceName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SourceCode)
        @Html.TextBoxFor(m => m.SourceCode, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.SourceCode)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DIrectionID)
        @Html.DropDownListFor(m => m.DIrectionID, new SelectList(Model.Directions, "DirectionID", "DirectionName"), "Select a Direction", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.DIrectionID)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LocationID)
        @Html.DropDownListFor(m => m.LocationID, new SelectList(Model.Locations, "LocationID", "LocationName"), "Select a Location", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LocationID)
    </div>

    <button type="submit" class="btn btn-primary">
        Save
    </button>

}




<div>
    @Html.ActionLink("Back To List","Index","Sources")
</div>



