﻿@model IEnumerable<E2LabPower.Domain.AdminSourceDataModel.SourceDataModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
 
}



<div class="panel">
    <header class="clearfix">
        <h4 class="page_title pull-left">Circuits</h4>
        <!-- Button trigger modal -->

        @Html.ActionLink("Add New Circuit", "CreateNewSource", "Sources",null ,new { @class = "btn btn-xs btn-info pull-right" })

    </header>

    <div class="table-responsive">
        <table class="table ">
            <thead>
                <tr>
                 
                    <th>Circuit Name</th>
                    <th>Circuit Code</th>
                    <th>Circuit Direction</th>
                    <th>Location Name</th>
                    <th>Settings</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SourceName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SourceCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DirectionName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LocationName)
                        </td>

                    <td>

                        @Html.ActionLink("Edit", "Edit", "Sources", new { id = item.SourceID },  new { @class = "btn btn-xs btn-warning "}) 
                        @Html.ActionLink("Details", "Details", "Sources", new { id = item.SourceID }, new { @class = "btn btn-xs btn-primary " }) 
                        @Html.ActionLink("Delete", "Delete", "Sources", new { id = item.SourceID }, new { @class = "btn btn-xs btn-danger " })


                    </td>
                </tr>
                }
            </tbody>
            
        </table>
    </div>
</div>






   
    
    

