﻿@model E2LabPower.Domain.Model.SourceWithFullLineMeasuermentsDataModel

@{
    ViewData["Title"]="Home Page";
    Layout="~/Views/Shared/_Layout.cshtml";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}
<div class="row" style="margin-top:20px">
    <form method="post">



        <div class="col-sm-3">
            @Html.DropDownList("Id", (SelectList)ViewData["SourceList"], null, new { @class = "form-control", style = "width:100%" })
        </div>

        <div class="col-sm-3">
            @Html.LabelFor(m => m.StartDate, new { @class = "form-control" })
            <input name="StartDate" class="form-control" id="StartDate" type="datetime-local" value="@DateTime.Now.Date.AddDays(-1).ToString("s")" data-val-required="The Enter The Start Date In the Right Formate." data-val="true">
            @Html.ValidationMessageFor(m => m.StartDate)
        </div>
        <div class="col-sm-3">
            @Html.LabelFor(m => m.EndDate, new { @class = "form-control" })
            <input name="EndDate" class="form-control" id="EndDate" type="datetime-local" value="@DateTime.Now.Date.ToString("s")"  data-val-required="The Enter The End Date In the Right Formate." data-val="true">
            @Html.ValidationMessageFor(m => m.EndDate)
        </div>

        <div class="col-sm-3">
            <input id="Submit1" type="submit" value="Load" class="btn btn-warning" />
        </div> 




    </form>
</div>
@if(Model!=null)
{

    @foreach(var line in Model.Lines)
    {
        <div class="row">
            <h4 class="font-weight-bold">
                <mark> Line :  @line.LineName </mark>
            </h4>

            @{var reslut = line.Measurments;
                foreach(var measuerment in reslut)
                {
                    <div class="col-md-3">

                        @await Component.InvokeAsync("Measurement", new { chartData = measuerment })

                    </div>

                }
            }
        </div>
                }
                }

