﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Collapsible sidebar using Bootstrap 3</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="~/css/style1.css">
    <link rel="stylesheet" href="~/css/newcircuit.css">

    <!-- highcharts -->
    <!--old-->
    

        <link rel="stylesheet" href="~/css/StyleSheet.css" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/highcharts/highcharts.js"></script>
        <script src="~/lib/highcharts/modules/data.js"></script>
        <script src="~/lib/highcharts/modules/exporting.js"></script>
        <script src="~/lib/highcharts/highcharts-more.src.js"></script>
        <script src="~/lib/highcharts/modules/solid-gauge.js"></script>
   
    
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>EL2 Power Dashboard</h3>
                <strong>EL2</strong>
            </div>
            <ul class="list-unstyled components">

                <li>
                    <a href="~/DashBoard/Index">
                        <i class="glyphicon glyphicon-home"></i>
                        Dashboard
                    </a>
                </li>

                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                        <i class="glyphicon glyphicon-cloud"></i>
                        Load Data
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="~/Home/Index">Data By Hour</a>
                        </li>
                        <li>
                            <a href="~/MeasurementsByTimeDuration/Index">Data By Range</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
                        <i class="glyphicon glyphicon-retweet"></i>
                        New Service
                    </a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li class="active">
                            
                            <a href="~/Admin/Sources/Index">Circuit Mangement</a>

                                                    
                        </li>
                        <li>
                            <a href="~/Admin/Production/Index">Production</a>
                        
                        </li>
                        <li>
                           
                            <a href="~/Admin/product/Index">Product</a>
                        </li>
                        <li>
                        
                            <a href="~/Admin/Location/Index">Location</a>
                        </li>
                       
                        
                    </ul>
                </li>
                <li>
                    <a href="#HDSubmenu" data-toggle="collapse" aria-expanded="false">
                        <i class="glyphicon glyphicon-duplicate"></i>
                        Historical Data
                    </a>
                    <ul class="collapse list-unstyled" id="HDSubmenu">
                        <li>
                            <a href="#">HD By Load</a>
                        </li>
                        <li>
                            <a href="#">HD By Variance</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#reportSubmenu" data-toggle="collapse" aria-expanded="false">
                        <i class="glyphicon glyphicon-folder-open"></i>
                        Reports
                    </a>
                    <ul class="collapse list-unstyled" id="reportSubmenu">
                        <li>
                            <a href="~/Admin/EnergyWithPro/CalculateEnergyForCircuit">Energy Report</a>
                           
                        </li>
                        <li>
                            <a href="~/Admin/Variance/CalVar">Variance Report</a>
                            
                        </li>
                        <li>
                            <a href="~/Admin/Variance/VarCircuit">Variance Over circuit</a>
                            
                        </li>
                        <li>
                            <a href="~/Admin/Summry/GetSummry">Data Per Hour [Last 2 weeks] </a>
                        </li>
                        <li>
                            <a href="~/Admin/DataPerDay/GetDataPerDay">Data Per Day[Last 3 months]</a>
                        </li> 
                   </ul>
                </li>
                <li>
                    <a href="~/ExPortData/ExportDataReport">
                        <i class="glyphicon glyphicon-download-alt"></i>
                        Export Data
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-paperclip"></i>
                        FAQ
                    </a>
                </li>

            </ul>
        </nav>

        <!-- Page Content Holder -->
        <div class="container">
            <div id="content">
                <nav class="navbar navbar-default">

                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="glyphicon glyphicon-align-justify"></i>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <span style="margin-top: 20px;">Welome To EL2 Administrator Aera</span>
                            </li>
                        </ul>
                    </div>
                </nav>

                @RenderBody()


            </div>
        </div>
      
        </div>
  
        <!-- jQuery CDN -->
        <script src="~/js/jquery-3.2.1.min.js"></script>
        <!-- Bootstrap Js CDN -->
        <script src="~/js/bootstrap.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                });
            });
        </script>


    

 

        </body>

</html>
