﻿@model E2LabPower.Domain.Variance_Report.VarianceReportDataModel
@{
    ViewData["Title"] = "ExportFullData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Download File</h1>

<br/>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary">Start Date</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">@Model.StartDate</button>
    </div>

</div>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary">End Date</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">@Model.EndDate</button>
    </div>

</div>
<br />
<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary">Line Name</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary">Measurment Name</button>
    </div>


</div>


<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">@Model.LineName</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">@Model.MeasureName</button>
    </div>

</div>
<br />





<div class="row">
    <div class="col-md-2">
        @Html.ActionLink("Download File", "ExportWithEF", "ExPortData", new { lineID = Model.LineID , MID = Model.MID, sd=Model.StartDate,ED=Model.EndDate }, new { @class = "btn btn-success", role = "button" })
    </div>
</div>
