﻿@model E2LabPower.Domain.Variance_Report.VarianceReportDataModel
@{
    ViewData["Title"]="ExportDataReport";
    Layout="~/Views/Shared/_Layout.cshtml";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
}

<h2>Export Data</h2>
<script>
    $(function () {
        $("#SourceID1").change(function () {

            var Url = '@Url.Action("GetLines2", "ExPortData")';
            var DllSource = "#SourceID1";
            $.getJSON(Url, { SourceID: $(DllSource).val() }, function (Data) {

                var items = "<option> select one Line </option> ";
                $("#LineID1").empty();
                $.each(Data, function (i, row) {

                    items += "<option value='" + row.value + "'> " + row.text + " </option >"


                });
                $("#LineID1").html(items);
            });

                });
            });

</script>

<script>
    $(function () {
        $("#LineID1").change(function () {

            var Url = '@Url.Action("GetLineMeasurments2", "ExPortData")';
            var DllSource = "#LineID1";
            $.getJSON(Url, { LineID: $(DllSource).val() }, function (Data) {

                var items = "<option> select one Measurment </option> ";
                $("#MID").empty();
                $.each(Data, function (i, row) {

                    items += "<option value='" + row.value + "'> " + row.text + " </option >"


                });
                $("#MID").html(items);
            });

                });
            });

</script>


@using(Html.BeginForm("ExportFullData", "ExPortData"))
{
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.StartDate)
                <input name="StartDate" class="form-control" id="StartDate" type="datetime-local" value="@DateTime.Now.Date.ToString("s")" data-val-required="field is required." data-val="true">
                @Html.ValidationMessageFor(m => m.StartDate)
            </div>

        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.EndDate)
                <input name="EndDate" class="form-control" id="EndDate" type="datetime-local" value="@DateTime.Now.AddDays(1).Date.ToString("s")" data-val-required="field is required." data-val="true">
                @Html.ValidationMessageFor(m => m.EndDate)
            </div>

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SourceID)
        @Html.DropDownListFor(m => m.SourceID, new SelectList(Model.SrouceList, "SouceID", "SourceName"), "Select Circuit", new { @class = "form-control", id = "SourceID1" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LineID)
        @Html.DropDownListFor(m => m.LineID, new SelectList(string.Empty, "LineID", "LineName"), "Select Line", new { @class = "form-control", id = "LineID1" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.MID)
        @Html.DropDownListFor(m => m.MID, new SelectList(string.Empty, "Id", "Name"), "Select Measurment", new { @class = "form-control", id = "MID" })
    </div>
    <button type="submit" class="btn btn-success">
       Export
    </button>
}

