﻿
@{
    ViewData["Title"]="Index";
    Layout="~/Views/Shared/_Layout.cshtml";
}


<br />
<div class="container">
    <div class="row">

        <div class="col-md-6">
            <span class="glyphicon glyphicon-wrench" aria-hidden="true">
                Controll Your System
            </span>
        </div>

        <div class="col-md-6">

            <span class="glyphicon glyphicon-user" aria-hidden="true">
                Welcome Name
            </span>

        </div>

    </div>
</div>

<br />
<br />
<div class="row" >

    @Html.ActionLink("Product","Index","Product",null,new { @class = "btn btn-primary" })

    </div>
<br />
<div class="row">
   @Html.ActionLink("Production", "Index", "Production", null, new { @class = "btn btn-primary" })
</div>
<br />
<div class="row">
    @Html.ActionLink("Variance Report", "CalVar", "Variance", null, new { @class = "btn btn-primary" })
</div>
<br />
<div class="row">
    @Html.ActionLink("Variance Report over Circuit", "VarCircuit", "Variance", null, new { @class = "btn btn-primary" })
</div>

<br />
<div class="row">
    @Html.ActionLink("Energy Calculation", "CalculateEnergyForCircuit", "EnergyWithPro", null, new { @class = "btn btn-primary" })
</div>
<br />
<div class="row" >
    @Html.ActionLink("Location Mangment", "Index", "Location", null, new { @class = "btn btn-primary" })
</div>
<br />
<div class="row">
    @Html.ActionLink("Detailed Data", "GetSummry", "Summry", null, new { @class = "btn btn-primary" })
</div>