﻿@model E2LabPower.Domain.Var_ReportOverCircuit.LinesModel
@{
    ViewData["Title"]="Logs";
  
    var containerID = Guid.NewGuid();
}


<div class="row">

    <div class="col-md-12">

        <div id="@containerID"></div>


    <script class="form-inline">


        //highcharts code add here
        $(document).ready(function ()
        {

            Highcharts.chart('@containerID',


           {
             chart: {type: 'line'},
             title: {text: '@Model.LineName'},
             data: {
                        rows:
                        [
                            [null, 'Values'], // series names
                            @foreach (var entry in Model.Logs)
                            {
                                <text>['@entry.Time.ToString("dd/MMM/yyyy [ HH:mm ]")', @entry.value],</text>
                            }
                        ]
                   }
           });
        });
    </script>

</div>
  </div>