﻿@model IEnumerable< E2LabPower.Domain.DashBordDataModel.LinesDataModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    var gaugeOptions = {

        chart: {
            type: 'solidgauge'
        },

        title: null,

        pane: {
            center: ['50%', '85%'],
            size: '100%',
            startAngle: -90,
            endAngle: 90,
            background: {
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                innerRadius: '60%',
                outerRadius: '100%',
                shape: 'arc'
            }
        },

        tooltip: {
            enabled: false
        },

        // the value axis
        yAxis: {
            stops: [
                [0.1, '#55BF3B'], // green
                [0.5, '#DDDF0D'], // yellow
                [0.9, '#DF5353'] // red
            ],
            lineWidth: 0,
            minorTickInterval: null,
            tickAmount: 2,
            title: {
                y: -70
            },
            labels: {
                y: 16
            }
        },

        plotOptions: {
            solidgauge: {
                dataLabels: {
                    y: 5,
                    borderWidth: 0,
                    useHTML: true
                }
            }
        }
    };
</script>

<div class="row" style="margin-top:20px">
    <form method="post">
        <div class="col-md-6">

            @Html.DropDownList("Id", (SelectList)ViewData["SourceList"], null, new { @class = "form-control" , style = "width:100%" })
        </div>
        <div class="col-md-2">
            <input id="Submit1" type="submit" value="Load" class="btn btn-warning" />
        </div>
    </form>
</div>
@if (Model != null)
{
    @foreach (var line in Model)
    {
        <div class="row">
            <h4 class="font-weight-bold">
                <mark> Line :  @line.LineName </mark>
            </h4>

            @{var reslut = line.Measuerments;
                foreach (var measuerment in reslut)
                {
                    <div class="col-md-3">

                        @await Component.InvokeAsync("DashBoardWithLastValue", new { chartData = measuerment })

                    </div>

                }
            }
        </div>
       }
 }






