﻿@model E2LabPower.Domain.ProductionDataModel.ProductionDataModel
@{
    ViewData["Title"]="Create";
    Layout="~/Views/Shared/_Layout.cshtml";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}

<h2>Create New Production</h2>



@using(Html.BeginForm("Create", "Production"))
{
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        @Html.LabelFor(m => m.Time)
        <input name="Time" class="form-control" id="DateTime" type="datetime-local" value="@DateTime.Now.Date.ToString("s")" data-val-required="field is required." data-val="true">
        @Html.ValidationMessageFor(m => m.Time)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.EndTime)
        <input name="EndTime" class="form-control" id="EndTime" type="datetime-local" value="@DateTime.Now.AddDays(1).Date.ToString("s")" data-val-required="field is required." data-val="true">
        @Html.ValidationMessageFor(m => m.EndTime)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Quantity)
       @Html.TextBoxFor(m=>m.Quantity, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Quantity)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ProductId)
        @Html.DropDownListFor(m => m.ProductId, new SelectList(Model.Products, "Id", "Name"), "Select a Unit", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ProductId)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LocationID)
        @Html.DropDownListFor(m => m.LocationID, new SelectList(Model.Locations, "LocationID", "LocationName"), "Select Location", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LocationID)
    </div>

    <button type="submit" class="btn btn-primary">
        Save
    </button>



}

<div class="row">
    @Html.ActionLink("Back to List", "Index", "Production", null, new { @class = "btn btn-primary" })
</div>