﻿@model E2LabPower.Domain.EnergyWithPro.EnergyWithProDetailsModel
@{
    ViewData["Title"]="EnergyDetails";
    Layout="~/Views/Shared/_Layout.cshtml";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}

<h2>Energy Details </h2>
<div class="text-danger" asp-validation-summary="ModelOnly"></div>

<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-info">Start Date</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">@Model.SD</button>
    </div>

</div>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-info">End Date</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">@Model.EndD</button>
    </div>

</div>
<br />
<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-info">Product Name</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-info">Quantity</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-info">Energy</button>
    </div>

</div>


<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">@Model.ProductionName</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">@Model.ProductionQuantity</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-danger">@Model.ProductionEnergy KW/Ton</button>
    </div>

</div>
<br />


@{
    var c = Model.EnergyDatalist;
    foreach(var x in c)
    {
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-info">@x.CircuitName</button>
            </div>

        </div>
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">@x.EnergyPerCirCuitValue [KW]</button>
            </div>
        </div>

        }
    }
<br />


<div id="container" style="min-width: 310px; max-width: 400px; height: 300px; margin: 0 auto"></div>

<br />

<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">


        @Html.ActionLink("Admin Panel", "Index", "Home", null, new { @class = "btn btn-success" })
    </div>

</div>
<script>
Highcharts.chart('container', {

    chart: {
        type: 'gauge',
        plotBackgroundColor: null,
        plotBackgroundImage: null,
        plotBorderWidth: 0,
        plotShadow: false
    },

    title: {
        text: 'Energy'
    },

    pane: {
        startAngle: -150,
        endAngle: 150,
        background: [{
            backgroundColor: {
                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                stops: [
                    [0, '#FFF'],
                    [1, '#333']
                ]
            },
            borderWidth: 0,
            outerRadius: '109%'
        }, {
            backgroundColor: {
                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                stops: [
                    [0, '#333'],
                    [1, '#FFF']
                ]
            },
            borderWidth: 1,
            outerRadius: '107%'
        }, {
            // default background
        }, {
            backgroundColor: '#DDD',
            borderWidth: 0,
            outerRadius: '105%',
            innerRadius: '103%'
        }]
    },

    // the value axis
    yAxis: {
        min: 0,
        max: 10,

        minorTickInterval: 'auto',
        minorTickWidth: 1,
        minorTickLength: 10,
        minorTickPosition: 'inside',
        minorTickColor: '#666',

        tickPixelInterval: 30,
        tickWidth: 2,
        tickPosition: 'inside',
        tickLength: 10,
        tickColor: '#666',
        labels: {
            step: 2,
            rotation: 'auto'
        },
        title: {
            text: 'KW / Ton'
        },
        plotBands: [{
            from: 0,
            to: 2,
            color: '#55BF3B' // green
        }, {
            from: 2,
            to: 6,
            color: '#DDDF0D' // yellow
        }, {
            from: 6,
            to: 10,
            color: '#DF5353' // red
        }]
    },

    series: [{
        name: 'Enargy',
        data: [@Model.ProductionEnergy],
        tooltip: {
            valueSuffix: 'KW / Ton'
        }
    }]

},
// Add some life
);</script>
