﻿@model IEnumerable<E2LabPower.Domain.ProductionDataModel.ProductionDataModel>

@{
    ViewData["Title"]="Index";
    Layout="~/Views/Shared/_Layout.cshtml";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}

<h2>
    Production Logs
</h2>
<br />

<p>
    
    @Html.ActionLink("Add New Production Log", "Create", "Production", null, new { @class = "btn btn-s btn-info pull-right" })
</p>
<table class="table">
    <thead>
        <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductionEnergy)
            </th>
            <th>
                Settings
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductionEnergy) <p>KW / @item.UnitOfMeasurment</p>
            </td>
<td>
        
              
                @Html.ActionLink("Delete", "Delete", new { Id = item.Id }, new { @class = "btn btn-xs btn-danger " }) 
                @Html.ActionLink("EnergyDetails", "EnergyDetails", new { Id = item.Id }, new { @class = "btn btn-xs btn-primary " }) 
                @Html.ActionLink("Edit", "Edit", new { Id = item.Id }, new { @class = "btn btn-xs btn-warning " })
            </td>
        </tr>
}
    </tbody>
</table>
