﻿@model E2LabPower.Domain.LocationDataModel
@{
    ViewData["Title"]="CreateLocation";
    Layout="~/Views/Shared/_Layout.cshtml";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}

<h2>Create Location</h2>


@using(Html.BeginForm("CreateNewLocation", "Location"))
{
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>

    <div class="form-group">
        @Html.LabelFor(m => m.LocationName)
        @Html.TextBoxFor(m => m.LocationName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LocationName)
    </div>


    <button type="submit" class="btn btn-primary">
        Create
    </button>

}
