﻿@model E2LabPower.Domain.LocationDataModel
@{
    ViewData["Title"] = "EditLocation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}

<h2>Edit Location</h2>

@using(Html.BeginForm("EidtLocation", "Location"))
{
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>

    <div class="form-group">
        @Html.LabelFor(m => m.LocationName)
        @Html.TextBoxFor(m => m.LocationName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LocationName)
    </div>

    @Html.HiddenFor(m=>m.LocationID)
    <button type="submit" class="btn btn-primary">
        Create
    </button>

}