﻿@model IEnumerable<E2LabPower.Domain.LocationDataModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}

<h2 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" >Locations</h2>

<p>
    
    @Html.ActionLink("Add New Location", "CreateLocation", "Location", null, new { @class = "btn btn-s btn-info pull-right" })


</p>
<br />
<div asp-validation-summary="ModelOnly" class="text-danger" ></div>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LocationName)
                </th>
            <th>
                Settings
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.LocationName)
            </td>
            <td>
                @Html.ActionLink("Edit", "EidtLocation", new { Id = item.LocationID }, new { @class = "btn btn-xs btn-warning " })           
                @Html.ActionLink("Delete", "DeleteLocation", new { Id = item.LocationID }, new { @class = "btn btn-xs btn-danger " })
            </td>
        </tr>
}
    </tbody>
</table>
