﻿@model E2LabPower.Domain.Model.MeasurmentWithDataModel

@{
    var containerID = Guid.NewGuid();
   
}




<div class="row">
    <div class="col-mid-12" >
        
        <div id="@containerID"></div>
    </div>
    <script class="form-inline">

        
        //highcharts code add here
        $(document).ready(function ()
        {
            
            Highcharts.chart('@containerID',


           {
             chart: {type: 'line'},
             title: {text: '@Model.Mesurment.MeasurmentName'},
             data: {
                        rows:
                        [
                            [null, 'Values'], // series names
                            @foreach (var entry in Model.MeasurmentLog)
                            {
                                <text>['@entry.TimeStamp.ToString("dd/MMM/yyyy [ HH:mm ]")', @entry.Value],</text>
                            }
                        ]
                   }
           });
        });
    </script>
</div>
