﻿@model IEnumerable<E2LabPower.Domain.SummryDataModel.CircuitsWithFullDataSummry>

@{
    ViewData["Title"] = "DetaildData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Summary of Data</h2>
<br />

<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">

        <button type="button" class="btn btn-info">StartDate</button>
    </div>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-info">EndDate</button>
    </div>
</div>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">@ViewData["sd"]</button>
    </div>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">@ViewData["ed"] </button>
    </div>
</div>
<br />

<table class=" table table-bordered">
    <thead>
        <tr class="success">

                <th>
                    @Html.DisplayNameFor(model => model.CircuitName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LineName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VoltAVG)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AmpAVG)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PFAVG)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhaseAVG)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VoltVar)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AmpVar)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PFVAr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhaseVar)
                </th>

           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td class="danger">
                @Html.DisplayFor(modelItem => item.CircuitName)
            </td>
            <td class="danger">
                @Html.DisplayFor(modelItem => item.LineName)
            </td>
            <td class="warning">
                @Html.DisplayFor(modelItem => item.VoltAVG)
            </td>
            <td class="warning">
                @Html.DisplayFor(modelItem => item.AmpAVG)
            </td>
            <td class="warning">
                @Html.DisplayFor(modelItem => item.PFAVG)
            </td>
            <td class="warning">
                @Html.DisplayFor(modelItem => item.PhaseAVG)
            </td>
            <td class="info">
                @Html.DisplayFor(modelItem => item.VoltVar)
            </td>
            <td class="info">
                @Html.DisplayFor(modelItem => item.AmpVar)
            </td>
            <td class="info">
                @Html.DisplayFor(modelItem => item.PFVAr)
            </td>
            <td class="info"    >
                @Html.DisplayFor(modelItem => item.PhaseVar)
            </td>


        </tr>
}
    </tbody>
</table>


