﻿@model E2LabPower.Domain.SummryDataModel.CircuitsWithFullDataSummry
@{
    ViewData["Title"]="GetSummry";
    Layout="~/Views/Shared/_Layout.cshtml";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}

<h2>Summary of Data</h2>


@using(Html.BeginForm("DetaildData", "Summry"))
{<div class="text-danger" asp-validation-summary="ModelOnly"></div>

        <div class="form-group">
            @Html.LabelFor(m => m.StartDate)
            <input name="TimeDate" class="form-control" id="TimeDate" type="datetime-local"  data-val-required="Start Date is Required." data-val="true">
            @Html.ValidationMessageFor(m => m.StartDate)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.EndDate)
            <input name="EndDate" class="form-control" id="EndDate" type="datetime-local" data-val-required="End Date is Requied" data-val="true">
            @Html.ValidationMessageFor(m => m.EndDate)
        </div>


        <button type="submit"  class="btn btn-s btn-danger pull-right">
           Calculate
        </button>
}


