﻿@model E2LabPower.Domain.Enargy.EnargyDataModel
@{
    ViewData["Title"]="CalCulateEnargy";
    Layout="~/Views/Shared/_Layout.cshtml";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
}

<h2>CalCulate Energy</h2>
<script>
    $(function () {
        $("#SourceID").change(function () {

            var Url = '@Url.Action("GetLines", "Variance")';
            var DllSource = "#SourceID";
            $.getJSON(Url, { SourceID: $(DllSource).val() }, function (Data) {

                var items = "<option> select one Line </option> ";
                $("#LineID").empty();
                $.each(Data, function (i, row) {

                    items += "<option value='" + row.value + "'> " + row.text + " </option >"


                });
                $("#LineID").html(items);
            });

                });
            });

</script>
@using(Html.BeginForm("GetEnargy", "Enargy"))
{
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.StartDate)
                <input name="StartDate" class="form-control" id="StartDate" type="datetime-local" value="@DateTime.Now.Date.ToString("s")" data-val-required="field is required." data-val="true">
                @Html.ValidationMessageFor(m => m.StartDate)
            </div>

        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.EndDate)
                <input name="EndDate" class="form-control" id="EndDate" type="datetime-local" value="@DateTime.Now.AddDays(1).Date.ToString("s")" data-val-required="field is required." data-val="true">
                @Html.ValidationMessageFor(m => m.EndDate)
            </div>

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SourceID)
        @Html.DropDownListFor(m => m.SourceID, new SelectList(Model.Sources, "SouceID", "SourceName"), "Select Circuit", new { @class = "form-control", id = "SourceID" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LineID)
        @Html.DropDownListFor(m => m.LineID, new SelectList(string.Empty, "LineID", "LineName"), "Select Line", new { @class = "form-control", id = "LineID" })
    </div>

    <button type="submit" class="btn btn-success">
        Get Energy
    </button>
}

<br />
<a href="~/Admin/Home/Index" style="margin-left:0px" class="btn btn-lg btn-primary">Admin Panel</a>