﻿@model E2LabPower.Domain.Enargy.EnargyDataModel
@{
    ViewData["Title"]="GetEnargy";
    Layout="~/Views/Shared/_Layout.cshtml";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}

<h2>Energy Report</h2>
<br />

<div class="text-danger" asp-validation-summary="ModelOnly"></div>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-info">Circuit Name</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-info">Line Name</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-info">Energy</button>
    </div>
</div>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">@Model.SourceName</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">@Model.LineName</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-danger">[@Model.EnargyValue KA/@Model.NumOfHours]<br /> [@Model.EnargyValueKW KW] </button>
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
        <div id="container" style="min-width: 310px; max-width: 400px; height: 300px; margin: 0 auto"></div>

    </div>
    <div class="col-lg-4">
        <div id="container2" style="min-width: 310px; max-width: 400px; height: 300px; margin: 0 auto"></div>

    </div>
</div>

<br />


<div class="btn-group btn-group-justified" role="group" aria-label="..." >
    <div class="btn-group" role="group">
        
     
        @Html.ActionLink("Admin Panel", "Index", "Home", null, new { @class = "btn btn-success" })
    </div>
  
    <div class="btn-group" role="group">
        @Html.ActionLink("Energy", "CalCulateEnargy", "Enargy", null, new { @class = "btn btn-success" })
    </div>
</div>

<script>
Highcharts.chart('container', {

    chart: {
        type: 'gauge',
        plotBackgroundColor: null,
        plotBackgroundImage: null,
        plotBorderWidth: 0,
        plotShadow: false
    },

    title: {
        text: 'Energy'
    },

    pane: {
        startAngle: -150,
        endAngle: 150,
        background: [{
            backgroundColor: {
                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                stops: [
                    [0, '#FFF'],
                    [1, '#333']
                ]
            },
            borderWidth: 0,
            outerRadius: '109%'
        }, {
            backgroundColor: {
                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                stops: [
                    [0, '#333'],
                    [1, '#FFF']
                ]
            },
            borderWidth: 1,
            outerRadius: '107%'
        }, {
            // default background
        }, {
            backgroundColor: '#DDD',
            borderWidth: 0,
            outerRadius: '105%',
            innerRadius: '103%'
        }]
    },

    // the value axis
    yAxis: {
        min: 0,
        max: 100,

        minorTickInterval: 'auto',
        minorTickWidth: 1,
        minorTickLength: 10,
        minorTickPosition: 'inside',
        minorTickColor: '#666',

        tickPixelInterval: 30,
        tickWidth: 2,
        tickPosition: 'inside',
        tickLength: 10,
        tickColor: '#666',
        labels: {
            step: 2,
            rotation: 'auto'
        },
        title: {
            text: 'kA/ @Model.NumOfHours'
        },
        plotBands: [{
            from: 0,
            to: 120,
            color: '#55BF3B' // green
        }, {
            from: 120,
            to: 160,
            color: '#DDDF0D' // yellow
        }, {
            from: 160,
            to: 200,
            color: '#DF5353' // red
        }]
    },

    series: [{
        name: 'Enargy',
        data: [@Model.EnargyValue],
        tooltip: {
            valueSuffix: ' KA/@Model.NumOfHours'
        }
    }]

},
// Add some life
);</script>
<script>
Highcharts.chart('container2', {

    chart: {
        type: 'gauge',
        plotBackgroundColor: null,
        plotBackgroundImage: null,
        plotBorderWidth: 0,
        plotShadow: false
    },

    title: {
        text: 'Energy'
    },

    pane: {
        startAngle: -150,
        endAngle: 150,
        background: [{
            backgroundColor: {
                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                stops: [
                    [0, '#FFF'],
                    [1, '#333']
                ]
            },
            borderWidth: 0,
            outerRadius: '109%'
        }, {
            backgroundColor: {
                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                stops: [
                    [0, '#333'],
                    [1, '#FFF']
                ]
            },
            borderWidth: 1,
            outerRadius: '107%'
        }, {
            // default background
        }, {
            backgroundColor: '#DDD',
            borderWidth: 0,
            outerRadius: '105%',
            innerRadius: '103%'
        }]
    },

    // the value axis
    yAxis: {
        min: 0,
        max: 100,

        minorTickInterval: 'auto',
        minorTickWidth: 1,
        minorTickLength: 10,
        minorTickPosition: 'inside',
        minorTickColor: '#666',

        tickPixelInterval: 30,
        tickWidth: 2,
        tickPosition: 'inside',
        tickLength: 10,
        tickColor: '#666',
        labels: {
            step: 2,
            rotation: 'auto'
        },
        title: {
            text: 'KW'
        },
        plotBands: [{
            from: 0,
            to: 120,
            color: '#55BF3B' // green
        }, {
            from: 120,
            to: 160,
            color: '#DDDF0D' // yellow
        }, {
            from: 160,
            to: 200,
            color: '#DF5353' // red
        }]
    },

    series: [{
        name: 'Enargy',
        data: [@Model.EnargyValueKW],
        tooltip: {
            valueSuffix: ' KW'
        }
    }]

},
// Add some life
);</script>