﻿@model E2LabPower.Domain.Variance_Report.VarianceReportDataModel
@{
    ViewData["Title"] = "CalVariance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Variance Report on <b style="color:grey"> @Model.LineName</b> Applied on <b style="color:grey"> @Model.MeasureName</b>  </h2>


<div class="row">
    <div class="col-mid-12">

        <div id="x"></div>
    </div>
    <script class="form-inline">


        //highcharts code add here
        $(document).ready(function ()
        {

            Highcharts.chart('x',


           {
             chart: {type: 'line'},
             title: {text: '@Model.LineName'},
             data: {
                        rows:
                        [
                            [null, 'Values'], // series names
                            @foreach (var entry in Model.Logs)
                            {
                                <text>['@entry.Time.ToString("dd/MMM/yyyy [ HH:mm ]")', @entry.value],</text>
                            }
                        ]
                   }
           });
        });
    </script>
</div>
<br />

<div class="btn-group btn-group-justified" role="group" aria-label="...">
<div class="btn-group" role="group">
    <button type="button" class="btn btn-info">Maximum Value</button>
</div>
<div class="btn-group" role="group">
    <button type="button" class="btn btn-info">Minimum Value</button>
</div>
<div class="btn-group" role="group">
    <button type="button" class="btn btn-info">Variance</button>
</div>
</div>

<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">@Model.MaxValue</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">@Model.MinValue</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-danger">@Model.Avg</button>
  </div>
</div>
