﻿@model E2LabPower.Domain.Var_ReportOverCircuit.VarReportOverCircuitModel
@{
    ViewData["Title"] = "CalVarOverCir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.MName Variance over @Model.SourceName </h2>

@if(Model!=null)
{
    <div class="row">
        @foreach(var line in Model.Lines)
        {
            <div class="col-md-4">
                <h4 class="font-weight-bold">
                    <mark> Line :  @line.LineName </mark>
                </h4>





                @await Component.InvokeAsync("VarOverCir", new { chartData = line })

            </div>




        }
    </div>

    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default">Variance Over @Model.SourceName</button>

        </div>
    </div>

    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default">@Model.VarianceResults</button>

        </div>
    </div>

}
    
