﻿@model E2LabPower.Domain.Variance_Report.VarianceReportDataModel
@{
    ViewData["Title"] = "VarErr";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 >Error</h2>

<b>  </b>
<div class="alert alert-danger" role="alert">
    This Line : @Model.LineName Has No Logs In this Measurment : @Model.MeasureName
</div>

<a href="~/Admin/Home/Index" style="margin-left:0px" class="btn btn-lg btn-primary">Admin Panel</a>