﻿@model E2LabPower.Domain.Model.SourceWithFullLineMeasuermentsDataModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home Page";
    //Load By Houre
}
<div class="row" style="margin-top:20px">
    <form method="post">



        <div class="col-sm-3">
            @Html.DropDownList("Id", (SelectList)ViewData["SourceList"], null, new { @class = "form-control", style = "width:100%" })
        </div>

        <div class="col-sm-3">
            @Html.LabelFor(m => m.DateTime, new { @class = "form-control" })

            <input name="DateTime" class="form-control" id="DateTime" type="number" value="24" data-val-required="The Enter The Number Of Hours To Display field is required." data-val="true">
            @Html.ValidationMessageFor(m => m.DateTime)
        </div>

        <div class="col-sm-3">
            <input id="Submit1" type="submit" value="Load" class="btn btn-warning" />
        </div>




    </form>
</div>
@if (Model != null)
{

    @foreach (var line in Model.Lines)
    {
        <div class="row">
            <h4 class="font-weight-bold">
                <mark> Line :  @line.LineName </mark>
            </h4>

            @{var reslut = line.Measurments;
                foreach (var measuerment in reslut)
                {
                    <div class="col-md-3">

                        @await Component.InvokeAsync("Measurement", new { chartData = measuerment })

                    </div>

                }
            }
        </div>
                }
                }


