﻿@model IEnumerable<E2LabPower.Domain.DataPerDay.DataPerDayDataModel>
@{
    ViewData["Title"] = "DetaildDataperDay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Data Per Day</h2>

<div class="btn-group btn-group-justified" role="group" aria-label="...">
<div class="btn-group" role="group">

    <button type="button" class="btn btn-info">StartDate</button>
</div>

<div class="btn-group" role="group">
    <button type="button" class="btn btn-info">EndDate</button>
</div>
</div>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">@ViewData["sd"]</button>
    </div>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">@ViewData["ed"] </button>
    </div>
</div>
<br />

<table class=" table table-bordered">
    <thead>
        <tr class="success">

            <th>
                @Html.DisplayNameFor(model => model.CirName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LineName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voltage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ampere)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PowerFactor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Frequancy)
            </th>
            


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td class="danger">
                    @Html.DisplayFor(modelItem => item.CirName)
                </td>
                <td class="danger">
                    @Html.DisplayFor(modelItem => item.LineName)
                </td>
                <td class="warning">
                    @Html.DisplayFor(modelItem => item.Voltage)
                </td>
                <td class="warning">
                    @Html.DisplayFor(modelItem => item.Ampere)
                </td>
                <td class="warning">
                    @Html.DisplayFor(modelItem => item.PowerFactor)
                </td>
                <td class="warning">
                    @Html.DisplayFor(modelItem => item.Frequancy)
                </td>



            </tr>
        }
    </tbody>
</table>