﻿@model E2LabPower.Domain.DataPerDay.DataPerDayDataModel
@{
    ViewData["Title"] = "GetDataPerDay";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}

<h2>Average Data Per Day Report</h2>


@using (Html.BeginForm("DetaildDataperDay", "DataPerDay"))
{<div class="text-danger" asp-validation-summary="ModelOnly"></div>

    <div class="form-group">
        @Html.LabelFor(m => m.startDate)
        <input name="startDate" class="form-control" id="startDate" type="date" data-val-required="Start Date is Required." data-val="true">
        @Html.ValidationMessageFor(m => m.startDate)
    </div>
        <div class="form-group">
            @Html.LabelFor(m => m.EndDate)
            <input name="EndDate" class="form-control" id="EndDate" type="date" data-val-required="End Date is Requied" data-val="true">
            @Html.ValidationMessageFor(m => m.EndDate)
        </div>


        <button type="submit" class="btn btn-s btn-danger pull-right">
            Calculate
        </button>
}