﻿@model E2LabPower.Domain.AdminSourceDataModel.lineDataModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

}

<h2>Add New Line </h2>

@using (Html.BeginForm("Create", "Nodes"))
{

    <div class="text-danger" asp-validation-summary= "ModelOnly"></div>

 
    <div class="form-group">
        @Html.LabelFor(m => m.LineName)
        @Html.TextBoxFor(m => m.LineName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LineName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LineCode)
        @Html.TextBoxFor(m => m.LineCode, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LineCode)
    </div>
     @Html.HiddenFor(m => m.SourceID, new { value = Model.SourceID })


    <div class="row">
       <div class="col-lg-7" >
            <button type="submit" class="btn btn-primary">
                Save
            </button>
        </div>
        <div class="col-lg-6">
            @Html.ActionLink("Back to List", "Details", "Sources", new { id = Model.SourceID }, new { @class = "btn btn-success" })
        </div>
    </div>

   
}
