﻿@model E2LabPower.Models.NodesModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NodesModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NodeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NodeName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="NodeID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back To List", "Details", "Sources")
    </form>
</div>
