﻿@model E2LabPower.Models.NodesModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>NodesModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NodeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NodeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LineCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LineCode)
        </dd>
    </dl>
</div>

<div>
    @Html.ActionLink("Back To List", "Details", "Sources" ,new { id = Model.SourceID})
</div>
