﻿@model E2LabPower.Models.NodesModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}

<h2>Edit Line</h2>
<div class="text-danger" asp-validation-summary="ModelOnly"></div>
@using (Html.BeginForm("Edit", "Nodes"))
{

    <div class="form-group">
        @Html.LabelFor(m => m.NodeName)
        @Html.TextBoxFor(m => m.NodeName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NodeName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LineCode)
        @Html.TextBoxFor(m => m.LineCode, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LineCode)
    </div>
    @Html.HiddenFor(m => m.SourceID, new { value = ViewBag.ID })

    @Html.HiddenFor(m=>m.NodeID)
    <button type="submit" class="btn btn-primary">
        Save
    </button>

}
<div class="col">
    @Html.ActionLink("Back to List", "Details", "Sources", new { id = Model.SourceID }, new { @class = "btn btn-success" })

</div>


