﻿@model E2LabPower.Domain.DashBordDataModel.MeasurmentWithLastValueDataModel

@{
    var containerID = Guid.NewGuid();
}

<div id="@containerID" style="width: 230px; height: 230px; float: left"></div>



<script>


    Highcharts.chart('@containerID', {

        chart: {
            type: 'gauge',
            plotBackgroundColor: null,
            plotBackgroundImage: null,
            plotBorderWidth: 0,
            plotShadow: false
        },

        title: {
            text: '@Model.MeasuermentName'
        },

        pane: {
            startAngle: -150,
            endAngle: 150,
            background: [{
                backgroundColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                    stops: [
                        [0, '#FFF'],
                        [1, '#333']
                    ]
                },
                borderWidth: 0,
                outerRadius: '99%'
            }, {
                backgroundColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                    stops: [
                        [0, '#333'],
                        [1, '#FFF']
                    ]
                },
                borderWidth: 1,
                outerRadius: '70%'
            }, {
                // default background
            }, {
                backgroundColor: '#DDD',
                borderWidth: 0,
                outerRadius: '70%',
                innerRadius: '70%'
            }]
        },

        // the value axis
        yAxis: {
            min: 0,
            max: @Model.Max,

            minorTickInterval: 'auto',
            minorTickWidth: 1,
            minorTickLength: 10,
            minorTickPosition: 'inside',
            minorTickColor: '#666',

            tickPixelInterval: 30,
            tickWidth: 2,
            tickPosition: 'inside',
            tickLength: 10,
            tickColor: '#666',
            labels: {
                step: 2,
                rotation: 'auto'
            },
            title: {
                text: '@Model.MeasurmentUnit'
            },
            plotBands: [{
                from: 0,
                to: 3000,
                color: '#55BF3B' // green
            }]
        },

        series: [{
            name: '',
            data: [@Model.MeasurementLastValue],
            tooltip: {
                valueSuffix: ' @Model.MeasurmentUnit'
            }
        }]

    },
        // Add some life
        function (chart) {
            if (!chart.renderer.forExport) {
                setInterval(function () {
                    var point = chart.series[0].points[0],
                        newVal,
                        inc = 0;

                    newVal = point.y + inc;
                    if (newVal < 0 || newVal > 200) {
                        newVal = point.y - inc;
                    }

                    point.update(newVal);

                }, 3000);
            }
        });
</script>




<script>
    // The speed gauge
         Highcharts.chart('', Highcharts.merge(gaugeOptions, {
            yAxis: {
                min: 0,

                title: {
                    text: '@Model.MeasuermentName'
                }
            },

            credits: {
                enabled: false
            },

            series: [{
                name: '@Model.MeasuermentName',
                data: [@Model.MeasurementLastValue],
                dataLabels: {
                    format: '<div style="text-align:center"><span style="font-size:16px;color:' +
                    ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                    '<span style="font-size:12px;color:silver">@Model.MeasurmentUnit</span></div>'
                },
                tooltip: {
                    valueSuffix: '@Model.MeasurmentUnit'
                }
            }]

        }));

</script>

