﻿@model E2LabPower.Domain.EnergyWithPro.EnergyWithProDataModel
@{
    ViewData["Title"]="CalculateEnergyForCircuit";
    Layout="~/Views/Shared/_Layout.cshtml";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}

<h2>Energy Report </h2>

@using(Html.BeginForm("GetEnergyForCircuitPro", "EnergyWithPro"))
{
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.StartDate)
                <input name="StartDate" class="form-control" id="StartDate" type="datetime-local" value="@DateTime.Now.Date.ToString("s")" data-val-required="field is required." data-val="true">
                @Html.ValidationMessageFor(m => m.StartDate)
            </div>

        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.EndDate)
                <input name="EndDate" class="form-control" id="EndDate" type="datetime-local" value="@DateTime.Now.AddDays(1).Date.ToString("s")" data-val-required="field is required." data-val="true">
                @Html.ValidationMessageFor(m => m.EndDate)
            </div>

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.CircuitID)
        @Html.DropDownListFor(m => m.CircuitID, new SelectList(Model.Sources, "SouceID", "SourceName"), "Select Circuit", new { @class = "form-control", id = "SourceID" })
    </div>



    <button type="submit" class=" btn btn-s btn-danger pull-right">
        Calculate  Energy
    </button>
}



