﻿@model E2LabPower.Domain.EnergyWithPro.EnergyWithProDataModel
@{
    ViewData["Title"]="GetEnergyForCircuitPro";
    Layout="~/Views/Shared/_Layout.cshtml";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}

<h2>Energy over @Model.CircuitName </h2>
<div class="text-danger" asp-validation-summary="ModelOnly"></div>

@{
    var c = Model.Lines;
    foreach(var x in c)
    {
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-info">@x.LineName</button>
            </div>
          
        </div>
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">@x.EnergyPerLineValue.ToString("0.##") (KVA)</button>
            </div>
        </div>
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">@x.EnergyPerLineValueInKW.ToString("0.##") (KW)</button>
            </div>
        </div>
    }
}
<br />

<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
        
        <button type="button" class="btn btn-info">Circuit Name</button>
    </div>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-info">Energy</button>
    </div>
</div>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">@Model.CircuitName</button>
    </div>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-danger"> [@Model.EnergyPerCirCuitValue.ToString("0.##") KW] </button>
    </div>
</div>
<br />


    <div id="container" style="width: 400px; height: 300px; margin-left:360px; "></div>
    







<script>


    var gaugeOptions = {

        chart: {
            type: 'solidgauge'
        },

        title: null,

        pane: {
            center: ['50%', '85%'],
            size: '140%',
            startAngle: -90,
            endAngle: 90,
            background: {
                backgroundColor: (Highcharts.theme && Highcharts.theme.background) || '#EEE',
                innerRadius: '100%',
                outerRadius: '60%',
                shape: 'arc'
            }
        },

        tooltip: {
            enabled: false
        },

        // the value axis
        yAxis: {
            stops: [
                [0.1, '#55BF3B'], // green
                [0.5, '#DDDF0D'], // yellow
                [0.9, '#DF5353'] // red
            ],
            lineWidth: 0,
            minorTickInterval: null,
            tickAmount: 2,
            title: {
                y: -70
            },
            labels: {
                y: 16
            }
        },

        plotOptions: {
            solidgauge: {
                dataLabels: {
                    y: 5,
                    borderWidth: 0,
                    useHTML: true
                }
            }
        }
    };

    // The speed gauge
    var chartSpeed = Highcharts.chart('container', Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 100,
            title: {
                text: 'Energy'
            }
        },

        credits: {
            enabled: false
        },

        series: [{
            name: 'Energy',
            data: [@Model.EnergyPerCirCuitValue.ToString("0.##")],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                '<span style="font-size:12px;color:silver">KW</span></div>'
            },
            tooltip: {
                valueSuffix: 'KVA'
            }
        }]

    }));




    // Bring life to the dials


</script>

